doctype html
html( lang="en" )
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="Content-Type" content="text/html")
    meta(name="theme-color" content="#ffffff")
    meta(name="author" content="Aram Petrosyan")
    meta(name="description" content="Simple Todo App")
    meta(name="keywords" content="todo, list, todo app, tasks, add task")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Todo App")
    meta(property="og:description" content="Simple Todo App")
    title Todo App | The To do list to organize work and life
    link(rel="shortcut icon" href="/favicon_io/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    )
  body
    block index