@media (max-width: 575.99px) {
  .todo-box {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .todo-box {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  .todo-box {
    width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .todo-box {
    width: 60%;
  }
}
